* {
  box-sizing: border-box;
  border-radius: 5px;
}
body {
  font: 16px "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: url("images/b1.jpg");
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}

.back-image {
  background-color: #34b3f1;
  max-width: 70%;
  padding: 15px;
  box-shadow: -1px 0 20px 0 rgb(0, 0, 0), 1px 0 20px 0 rgb(0, 0, 0);
}

h1 {
  margin: 0;
  padding: 20px;
  color: #ffffff;
  /* display: inline; */
}
#png1 {
  padding: 0;
  margin: 0;
  width: 200px;
}

/* ----NAV AREA--- */

nav {
  color: #ffffff;
  background-color: #000000;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
sub {
  position: absolute;
  left: 155px;
  bottom: 9px;
}
ul,
.logo {
  color: #f15412;
  padding: 15px;
  list-style-type: none;
  margin: 0;
}
ul {
  display: flex;
  justify-content: end;
}
li {
  padding-left: 10px;
}
.logo {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
button {
  background-color: #f15412;
}
/* ---CONTENT AREA--- */
/* ---CONTENT AREA--- */
/* ---CONTENT AREA--- */

main {
  display: flex;
}
aside {
  background-color: #eee;
  padding: 10px;
  margin-right: 8px;
  flex-basis: 20%;
}

section {
  background-color: #eee;
  padding: 15px;
  flex-basis: 90%;
}

.art1 {
  margin-bottom: 20px;
  max-height: 500px;
  display: flex;
  overflow: hidden;
}

.cap1 {
  width: 50%;
  line-height: 2;
  padding: 10px;
}

figure {
  margin: 0;
  padding: 0;
  width: 50%;
}
figure img {
  max-width: 100%;
}
figcaption img {
  width: 100%;
}

/* ---FOOTER--- */

footer {
  background-color: #000000;
  color: white;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
